<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    @import url('https://fonts.googleapis.com/css?family=VT323');
  </style>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Score-A-Rama</title>

</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class=""container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <%= link_to "Score-A-Rama", root_path, {class: "navbar-brand page-scroll"}%>
    </div>
  </div>
</nav>

<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Score-A-Rama</h1>
      <h3 id="header-tagline">Bowling Score App & REST API</h3>
    </div>
  </div>
</header>

<section class="new_game">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <button type="button" class="btn btn-danger btn-lg">
          Start A New Game
        </button>
      </div>
    </div>
  </div>
</section>